html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

*, 
::after, 
::before {
  box-sizing: border-box;
}

body {
  /* background-color: #ccc; */
  margin: 0;
  height: 100%;
  font-family: "Assistant", sans-serif;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  /* padding: 1rem; */
}

table {
  font-size: 1rem;
  margin: 1rem;
}


tr {
  position: relative;
  display: flex;
  /* display: grid; */
  /* grid-template-columns: [start] 6rem [second] 2rem [third] repeat(auto-fit, minmax(1rem, 1fr)) [fourth] 6rem [end]; */
}

td {
  height: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  /* padding: 0.25rem; */
  
}

.left-notes {
  width: 4rem;
  /* grid-column: start / second; */
}

.left-index {
  width: 1.7rem;
}

.right-notes {
  width: 6rem; 
  font-size: 0.75rem; 
  padding: 0.25rem; 
  text-align: left; 
  white-space: nowrap;
  /* grid-column: fourth / end; */
}

.cell {
  width: 1.7rem;
}

sub {
  font-size: 0.75rem;
}

input {
  font-family: "Assistant", sans-serif;
  padding: 0.25rem 0.5rem;
}

button {
  padding: 0.25rem 0.5rem;
  border: solid #333 1px;
  margin: 0.125rem;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.08s cubic-bezier(.25,.8,.25,1);
}

button:hover {
  color: white;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button:active {
  background-color: #666;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button:disabled:hover {
  background-color: #eee;
  color: #777;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

label {
  text-transform: uppercase;
}

.active {
  font-weight: bold;
  color: white;
  background: #333;
}

.active-index {
  font-weight: bold;
}

.green {
  background-color: #caeebb;
}

.string > div {
  font-size: 1rem; 
  height: 1.25rem;
  width: 1.25rem;
  text-align: center; 
  line-height: 1.25rem;
}

.inactive {
  color: #aaa;
}

.font-adaptive {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .font-adaptive {
      font-size: calc(16px + 8 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .font-large {
      font-size: 24px;
  }
}