html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

*, 
::after, 
::before {
  box-sizing: border-box;
}

body {
  /* background-color: #ccc; */
  margin: 0;
  height: 100%;
  font-family: "Assistant", sans-serif;
  color: #333;
}

#app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
  padding: 1rem;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  /* height: max-content; */
  /* max-width: 19rem; */
}

#bwt {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  /* justify-content: center; */
  /* margin: auto; */
  height: 100%;
  align-items: center;
}

#bwt::after,
#bwt::before {
  content: '';  /* Insert pseudo-element */
  margin: auto; /* Make it push flex items to the center */
}

h1 {
  width: 22rem;
  margin-bottom: 0;
}

h4 {
  margin-top: 0rem;
  color: #777;
}

h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  font-size: 1rem;
  /* margin: 1rem; */
  margin-top: 1rem;
  /* border: solid red 1px; */
  /* overflow: hidden;? */
  max-width: 720px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tbody {
  display: flex;
  justify-content: center;
  /* width: max-content; */
}

tr {
  /* max-width: 90%; */
  position: relative;
  /* display: flex; */
  /* width: auto; */
  /* display: grid; */
  /* overflow: hidden; */
}

td, th {
  display: flex;
  width: 100%;
  height: 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 50%;
  padding-top: 50%;
  overflow: visible;
  position: relative;
}

.inactive {
  color: #aaa;
}

.left-notes {
  display: flex;
  justify-content: flex-end;
  font-size: 75%;
  /* height: 100%; */
  /* overflow: hidden; */
}

.left-notes i {
  margin-left: 10%;
}

.left-index {
  display: flex;
  justify-content: center;
  font-size: 75%;
}

.f-column {
  font-weight: bold;
}

.match {
  font-weight: bold;
  color: #333;
}

.l-column {
  font-weight: bold;
}

.right-notes {
  font-size: 75%; 
  padding-left: 25%;
  justify-content: flex-start;
  white-space: nowrap;
}

.cell {
  justify-content: center;
}

sub {
  font-size: 50%;
  line-height: 0;
  position: relative;
  bottom: -0.75em;
}

input {
  font-family: "Assistant", sans-serif;
  padding: 0.25rem 0.5rem;
  width: 14rem;
}

.buttons {
  display: flex; 
  flex-wrap: wrap; 
  margin-top: 0.5rem;
  /* max-width: 16rem; */
  /* justify-content: center; */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: solid #333 1px;
  margin: 0.125rem;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.08s cubic-bezier(.25,.8,.25,1);
}

button:hover {
  color: white;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button:active {
  background-color: #666;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button:disabled {
  color: #777;
}

button:disabled:hover {
  background-color: #eee;
  color: #777;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

label {
  text-transform: uppercase;
}

.active {
  font-weight: bold;
  color: white;
  background: #333;
}

.active-index {
  font-weight: bold;
}

.green {
  background-color: #caeebb;
}

.white {
  color: transparent;
}

.border-top::before,
.border-right::after,
.border-bottom::before,
.border-left::after {
  content: '';
  background: #333;
  position: absolute;
}

.border-top::before {
  top: -1px;
  height: 2px;
  width: calc(100% + 2px);
}

.border-right::after {
  right: -1px;
  width: 2px;
  height: calc(100% + 2px);
}

.border-bottom::before {
  bottom: -1px;
  height: 2px;
  width: calc(100% + 2px);
}

.border-left::after {
  left: -1px;
  width: 2px;
  height: calc(100% + 2px);
}

.string > div {
  height: 1.25em;
  width: 1.25em;
  text-align: center; 
  line-height: 1.25em;
}



.font-adaptive {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .cell {
    padding: 0;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  #controls {
    align-items: center;
    max-width: none;
  }
  #app {
    flex-direction: column;
    justify-content: flex-start;
  }
  h1 {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
  .hide-matrix {
    align-self: auto;
  }
}
